PORT=3000
MYCONNECTION=mongodb://localhost:27017/assetlink

# Redis
REDIS_URL=redis://localhost:6379

# Email SMTP Settings (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=PUT_YOUR_EMAIL_HERE
EMAIL_PASS=PUT_YOUR_APP_PASSWORD_HERE
EMAIL_FROM_NAME=AssetLink
